.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;

  &--sm {
    @include breakpoint-up('sm') {
      display: none;
    }
  }
  &--md {
    @include breakpoint-up('md') {
      display: none;
    }
  }
  &--lg {
    @include breakpoint-up('lg') {
      display: none;
    }
  }
  &--xl {
    @include breakpoint-up('xl') {
      display: none;
    }
  }
  &--xxl {
    @include breakpoint-up('xxl') {
      display: none;
    }
  }
  &--fhd {
    @include breakpoint-up('fhd') {
      display: none;
    }
  }
}
