html {
  font-size: 10px;
  color: var(--color-black);
  height: 100%;
}

body {
  font-family: 'Roboto';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section {
  position: relative;
}

button {
  color: inherit;
}

img {
  max-width: 100%;
}
